---
import { APP_NAME, IS_GOOGLE_AUTH_ENABLED } from 'astro:env/server';

import { HOMEPAGE_PATH } from '$lib/constants/internal-urls';
import HomeIcon from '$lib/icons/home-icon.svelte';
import HomeSolidIcon from '$lib/icons/home-solid-icon.svelte';

import Footer from './components/footer/_footer.astro';
import GoogleLogin from './components/google-login.astro';
import SwitchColorMode from './components/switch-color-mode/_switch-color-mode.astro';
import UserMenu from './components/user-menu.astro';

export interface Props {
  /**
   * class for `main` element
   */
  class?: string;
}

const { class: className } = Astro.props;

const { currentUser, status } = Astro.locals.session;

const isHomepage = Astro.url.pathname === HOMEPAGE_PATH;
---

<header>
  <a
    aria-current={isHomepage}
    class='btn btn-text btn-primary'
    href={HOMEPAGE_PATH}
  >
    {isHomepage ? <HomeSolidIcon /> : <HomeIcon />}
    <div>
      {APP_NAME}
    </div>
  </a>
  {
    currentUser ? (
      <UserMenu
        {currentUser}
        justSignedIn={status === 'sign-in-success'}
      >
        <SwitchColorMode
          slot='switch-color-mode'
          transition:animate='fade'
        />
      </UserMenu>
    ) : (
      <div>
        {IS_GOOGLE_AUTH_ENABLED && (
          <GoogleLogin failedSignIn={status === 'sign-in-failed'} />
        )}
        <SwitchColorMode transition:animate='fade' />
      </div>
    )
  }
</header>

<main class={className}>
  <slot />
</main>

<Footer />

<style lang='scss'>
  header {
    position: sticky;
    top: 0;
    z-index: 40;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--header-height);
    padding: 8px 16px;

    @apply shadow-lg bg-neutral-bright;

    > div {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  a {
    height: 32px;
    border-bottom: 2px solid transparent;

    svg {
      flex: 0 0 24px;
      width: 24px;
      height: 24px;
    }

    div {
      display: none;

      @include xs {
        display: block;
      }
    }

    &:hover svg {
      stroke-width: 2px;
    }

    &[aria-current='true'] {
      pointer-events: none;
      @apply border-b-primary-dim;
    }
  }

  main {
    padding: 12px;
  }

  @include dark {
    header {
      @apply shadow-2xl bg-neutral-dim;
    }

    a[aria-current='true'] {
      @apply border-b-primary-bright;
    }
  }
</style>
